.head
{
    color: blueviolet;
    font-size: 50px;
    font-family: 'sans-serif';
    text-align: center;
    font-style: bold;
}

table
{
    align-items: center;
}

input
{
  position: relative;
  top: 30px;
  left: 600px;
  border-radius: 2px;
  color:black;
  background-color: #cea0a0;
  border-radius: 4px;
  border-style: inherit;
  width: 60px;
  height: 50px;
  margin: 5px;
  font-size: 20px;
}

.result
{
    background-color:lightseagreen;
    color: black;
    padding :2% 50%
}